.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #4361ee;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 350px) {
  .inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .logo {
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
  }

  .buttons button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
